# Android/IntelliJ specific
.idea/
*.iml
.gradle/
local.properties
/.gradle
/build/
/captures
.externalNativeBuild
.cxx/
ndk/
**/build/
**/intermediates/
**/generated/

# Gradle
.gradle/
/build/
/local.properties
/.gradle/
/build/

# Android Studio/IntelliJ
.idea/
*.iml
*.hprof

# External native builds
**/cxx/
**/ndk/

# Google Services (you might want to keep your google-services.json if it is project specific)
google-services.json

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Python specific (if you're using Python scripts)
*.pyc
__pycache__/

# OpenCV specific
opencv/native/libs/
opencv/native/staticlibs/
opencv/native/bin/
opencv/.cxx/
opencv/.gradle/
opencv/build/
opencv/native/jni/OpenCV.mk
opencv/native/jni/OpenCVConfig-version.cmake
opencv/native/jni/OpenCVConfig.cmake
opencv/native/jni/abi-*/

# Ignore OpenCV build-related files
opencv/.idea/
opencv/bin/
opencv/obj/
opencv/tmp/

# Build related
build/
tmp/

# Others
*.log
*.apk
*.ap_
*.orig
*.class
*.swp
*.swo
*.DS_Store

# Git
*.rej
*.bak
*.swp
*~
*.orig
*#*#
*.old